@import url("https://fonts.googleapis.com/css2?family=Mingzat&family=Montserrat:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  font-family: "Mingzat", sans-serif;
  text-align: center;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.grad {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0) 100%
  );
  align-items: center;
  justify-content: center;
}
